<li>
  <% if user.avatar? %>
    <%= image_tag(user.avatar.url(:thumb), size: "64x64") %>
  <% else %>
    <%= image_tag("avatar-default.png", size: "64x64") %>
  <% end %>
  <%= link_to user.name, "#" %>
  <% if current_user.try :admin? %>
    <%= form_for(user) do |f| %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      <%= f.submit t("button.change_role"), class: "btn btn-xs btn-primary", style: "width: 50%" %>
    <% end %>
    <%= link_to t("button.delete"), user, method: :delete,
                data: {confirm: "Are Your Sure?"}, class: "btn btn-danger" %>
  <% end %>
</li>
