<div class="col-md-6 col-md-offset-3">
  <%= form_for [:admin, @category, @question] do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.select(:state, Question.states.keys.map {|state| [state.titleize,state]}) %>

    <%= f.label :answers %>
    <div class="form-group">
      <%= f.fields_for :answers do |answer| %>
        <%= render "answer_fields", f: answer %>
      <% end %>
      <%= link_to_add_association t("button.add_answer"), f, :answers, class: "col-md-3 btn btn-primary" %>
    </div>
    <%= f.submit t("button.submit"), class: "btn btn-primary" %>
  <% end %>
</div>
