<% provide :title, t("exam.all") %>
<h1><%= t "exam.all" %></h1>
<br><br>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <%= form_for @exam do |f| %>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-control">
          <%= f.collection_select :category_id, @categories, :id, :name, {} %>
        </div>
        <%= f.submit t("exam.create.new"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<div class="row exam">
  <div class="col-md-10 col-md-offset-1">
    <hr>
    <h3><%= t "exam.list" %></h3> 

    <table class="table table-striped">     
      <thead>
        <tr>
          <th class="created_date"><%= t "exam.created_at" %></th>
          <th class="subject"><%= t "exam.subject" %></th>
          <th class="question_number"><%= t "exam.question_number" %></th>
          <th class="score"><%= t "exam.score" %></th>
          <th class="action"><%= t "exam.status" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @exams %>
      </tbody>
    </table>     
  </div>
</div>
